<%= form_with model: @comment, local: true do |f| %>

	<% if @comment.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@comment.errors.count, "error") %> prohibited
				this comment from being saved:
			</h2>
			<ul>
				<% @comment.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group" >
		<%= f.label :text %><br />
		<%= f.text_area :text, class: "form-control", rows: 3 %>
	</div>
	<div class="form-group row" >

		<%= f.label :rating, class: "col-3" %><br />
		<%= f.select :ratin, options_for_select([
                ['5'],
                ['4.5'],
                ['4'],
                ['3.5'],
                ['3'],
                ['2.5'],
                ['2'],
                ['1.5'],
                ['1'],
                ['0.5'],
                ['0']
            ]), {}, class: "form-control col-lg-2" %>
	</div>
	<div id="food-forms">
		<%= f.fields_for :foods do |builder| %>
			<%= render 'comments/food_fields', :f => builder %>
		<% end %>
		<div class="btn btn-primary" id="add-food-field-button">
			Add More Food
		</div>
	</div>
	<br/>
	<%= f.submit "Submit Review", class: "btn btn-primary" %>
<% end %>
